.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
}
.div {
  width: 25%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 250px;
  min-height: 250px;
  background-color: rgb(255, 255, 255);
  color: white;
  border-radius: 10px;
}
.titleLogin {
  color: blueviolet;
}
