.info_block {
  width: 40%;
  padding: 1%;
  background-color: rgb(61, 61, 78);
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  max-height: 100vh;
  transform: translate(0, -50%);
}
